#content-component {
    display: flex;
}

#inventory-container, #manufacture-container {
    flex-grow: 1;
}

fieldset {
    border: none;
    padding: 0;
}

ol {
    list-style: none;
}

input[type="number"] {
    margin: 5px;
}
